* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	line-height: 1.42;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.Nav-container {
	position: fixed;
	/* display: flexbox; */
	top: 0px;
	/* height: 60px; */
	width: 100%;

	/* align-content: center; */
	/* text-align: center; */
	/* background-color: #00000077; */
	box-sizing: border-box;
	/* z-index: 2; */
}

.logo,
.btn-img {
	height: 31px;
}
nav {
	display: flex;
	height: 50px;
	padding: 5px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(
		to bottom,
		#171a26,
		rgba(23, 26, 38, 0.0001)
	);
}
.tabs {
	/* color: #fff; */
	display: flex;
	flex-direction: row;
	justify-content: spae-between;
	margin-left: 110px;
}
.tabs > a {
	height: 100%;
	color: #fff;
	transition: all 150ms ease;
	opacity: 70%;
	padding: 0 30px;
	line-height: 22px;
	font-size: 18px;
}
.bnts {
	display: flex;
	align-items: center;
	/* flex-direction: row; */
}
.location {
	display: inline-flex;
	flex-direction: row;
	background: transparent;
	/* outline: none; */
	/* box-shadow: none; */
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	margin: auto;
	padding: 7px 15px;
	border-radius: 5px;
	transition: all 100ms ease;
	color: rgb(255 255 255/ 60%);
}
.location:hover {
	background: rgb(255 255 255 / 10%);
}
.location > .loc-text {
	text-align: center;
	cursor: pointer;
	margin: 0;
	margin-top: 0px;
	margin-right: 0px;
	color: rgb(255 255 255 / 60%);
	font-size: 14px;
	font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
		sans-serif;
	letter-spacing: 0.5px;
	line-height: 22px;
	margin-right: 10px;
	margin-top: 3px;
	max-width: 95px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.location > .loc-img {
	width: 26px;
	min-height: fit-content;
	overflow: hidden;
	position: relative;
}
.location > img {
	vertical-align: middle;
	position: relative;
	opacity: 1;
	transition: opacity 150ms ease 0s;
	top: 0px;
	left: 0px;
	width: 100%;
}
button {
	all: unset;
	cursor: pointer;
	/* text-align: center; */
	margin: auto;
}
button:focus {
	outline: revert;
}
.get-app {
	display: inline-block;
}
.get-app > button {
	margin-inline: 15px;
	font-family: Inter-Medium, Helvetica Neue, Helvetica, Roboto, Arial,
		sans-serif;
	transition: all 250ms ease;
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 14px;
	line-height: 18px;
	border-radius: 5px;
	font-weight: 700;
	padding: 7px 15px;
}
.avatar {
	display: inline-block;
	/* box-sizing: border-box; */
	/* border-radius: 50%; */
	/* padding: 10px; */
}
.avatar > button:hover {
	background: rgb(255 255 255 / 10%);
}
.avatar > button {
	border-radius: 50%;
	padding: 10px;
	width: 26px;
	height: 26px;
}
.avatar > button > img {
	vertical-align: middle;
}

