* {
	margin: 0px;
	padding: 0px;
}
.Nav-container {
	position: fixed;
	/* display: flexbox; */
	top: 0px;
	/* height: 60px; */
	width: 100%;

	/* align-content: center; */
	/* text-align: center; */
	background-color: #00000077;
	box-sizing: border-box;
	/* z-index: 2; */
}

.logo,
.btn-img {
	height: 31px;
}
nav {
	display: flex;
	height: 50px;
	padding: 5px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
    linear-gradient(to bottom, #171A26, rgba(23, 26, 38, 0.0001))
}
.tabs {
	display: flex;
	flex-direction: row;
	justify-content: spae-between;
	margin-left: 110px;
}
